
.header{
    margin-top: 0;
    display: flex;
    grid-column: 1/3;
    height: 53px;
    font-family: 'Lobster Two', cursive;
    border-bottom: 1px solid #ddd;
    align-items: center;
    width: 100%;
}

.ins{
    font-size: 23px;
    padding-left: 150px;
    padding-right: 210px;
}

.searchbox{
    padding-right: 170px;    
}

.home{
    padding-right: 28px;
}

.mess{
    padding-right: 20px;
}

.mess > .material-icons{
    transform: rotate(-30deg);
    height: 38px;

}

.compass{
    padding-right: 20px;
}

.notify{
    padding-right: 20px;
    font-size: 20px;
    height: 28px;
}

.info{
        background-image: url(./pic2.jpg);
        background-size: cover;
        background-position: center;
        border: 1px solid #0F1C3F;
        border-radius: 50%;
        height: 18px;
        width: 18px;
}

.page{
    display: grid;
    grid-template-columns:65% 35%;
    margin: 0 150px;
}

.story{
    display: flex;
    border: 1px solid #ddd;
    margin-top: 26px;
    justify-content: space-evenly;
    align-items: center;
    height: 84px;
}

.story-str{
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        height: 50px;
        width: 50px;
}

.overlay{
    border: 1px solid red;
        border-radius: 50%;
        height: 54px;
        width: 54px;
        transform: translate(-3px,-3px);
}


.newfeed{
    border: 1px solid #ddd;
    margin-top: 30px;
}

.post .post-tittle{  
    display: flex;
    height: 35px;
    align-items: center;
}

.post .post-tittle-avatar{
    background-image: url(./pic3.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid #0F1C3F;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.post-tittle-name{
    flex-grow: 1;
    padding-left: 10px;
    font-size: 14px;
}

.post .three-dots{
    padding-right: 20px;
    font-size: 25px;
}

.post-content{
    height: 550px;
    background-image: url(./pic.png) ;
}


.post .post-interactive{
    display: flex;
    font-size: 23px;
    margin-top: 10px;
}

.post .posticon-heart{
    padding-left: 15px;
}

.post .posticon-comment{
    padding-left: 15px;
}
.post .posticon-share{
    padding-left: 15px;
}

.post .posticon-save{
    position: relative;
    left :350px
}

.post .post-comment{
    font-size: 13px;
    margin-left: 10px;
}

.post-add-comment{
    display: flex;
    border: 1px solid #ddd;
    height: 30px;
    margin-top: 10px;
    align-items: center;
}

.post-add-comment .comment-icon{
    margin-left: 10px;
}

.post-add-comment .comment-input{
    flex-grow: 1;
    border: 0px;
    margin-left: 10px;
}

.post-add-comment .comment-confirm{
    margin-right: 20px;
    color: blue;
}

.slidebar{
    margin-left: 20px;
}

.your-seft{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.your-seft .avatar{
        background-image: url(./pic2.jpg);
        background-size: cover;
        background-position: center;
        border: 1px solid #0F1C3F;
        border-radius: 50%;
        height: 45px;
        width: 45px;
}

.your-seft .all-name{
    padding-left: 20px;
    flex-grow: 1;
}

.your-seft .name{
    margin-bottom: 8px;
    font-size: 14px;
}

.your-seft .under-name{
    color: #999;
    font-size: 13px;
}

.your-seft .change{
    color: blue;
    font-size: 13px;
}

.tittle{
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.tittle .suggest-for-you{
    color: #999;
    flex-grow: 1;
    font-size: 14px;
}

.tittle .see-all{
    font-size: 12px;
}

.suggestions{
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.suggestions .avatar-sug{
        background-image: url(./pic3.jpg);
        background-size: cover;
        background-position: center;
        border: 1px solid #0F1C3F;
        border-radius: 50%;
        height: 30px;
        width: 30px;
}

.suggestions .all-name-sug{
    padding-left: 8px;
    flex-grow: 1;
}

.suggestions .name-sug{
    font-size: 14px;
    margin-bottom: 4px;
}

.suggestions .under-name-sug{
    font-size: 12px;
    color: #999;
}

.suggestions .follow-sug{
    color: blue;
    font-size: 13px;
}

.end-slidebar{
    color: #999;
    font-size: 10px;;
    margin-top: 27px;
}


